In [95]:
import pandas as pd
import numpy as np

In [96]:
rd = pd.read_csv("movies_metadata.csv")
low_memory=False

C:\Users\vpuyp\AppData\Local\Temp\ipykernel_8456\313675054.py:1: DtypeWarning: Columns (10) have mixed types. Specify dtype option on import or set low_memory=False.
  rd = pd.read_csv("movies_metadata.csv")

In [97]:
rd=rd[rd['original_language'] == 'en']

In [98]:
rd=rd[rd['runtime'] >= 140]
rd=rd[rd['vote_count'] >= 1000]

In [99]:
rd.reset_index(drop=True,inplace=True)
rd

,adult,belongs_to_collection,budget,genres,homepage,id,imdb_id,original_language,original_title,overview,...,release_date,revenue,runtime,spoken_languages,status,tagline,title,video,vote_average,vote_count
0,False,NaN,60000000,"[{'id': 28, 'name': 'Action'}, {'id': 80, 'nam...",NaN,949,tt0113277,en,Heat,"Obsessive master thief, Neil McCauley leads a ...",...,1995-12-15,187436818.0,170.0,"[{'iso_639_1': 'en', 'name': 'English'}, {'iso...",Released,A Los Angeles Crime Saga,Heat,False,7.7,1886.0
1,False,NaN,52000000,"[{'id': 18, 'name': 'Drama'}, {'id': 80, 'name...",NaN,524,tt0112641,en,Casino,The life of the gambling paradise – Las Vegas ...,...,1995-11-22,116112375.0,178.0,"[{'iso_639_1': 'en', 'name': 'English'}]",Released,No one stays at the top forever.,Casino,False,7.8,1343.0
2,False,NaN,72000000,"[{'id': 28, 'name': 'Action'}, {'id': 18, 'nam...",NaN,197,tt0112573,en,Braveheart,"Enraged at the slaughter of Murron, his new br...",...,1995-05-24,210000000.0,177.0,"[{'iso_639_1': 'en', 'name': 'English'}, {'iso...",Released,Every man dies. Not every man truly lives.,Braveheart,False,7.7,3404.0
3,False,NaN,52000000,"[{'id': 18, 'name': 'Drama'}]",NaN,568,tt0112384,en,Apollo 13,The true story of technical troubles that scut...,...,1995-06-30,355237933.0,140.0,"[{'iso_639_1': 'en', 'name': 'English'}]",Released,"Houston, we have a problem.",Apollo 13,False,7.3,1637.0
4,False,NaN,8000000,"[{'id': 53, 'name': 'Thriller'}, {'id': 80, 'n...",NaN,680,tt0110912,en,Pulp Fiction,"A burger-loving hit man, his philosophical par...",...,1994-09-10,213928762.0,154.0,"[{'iso_639_1': 'en', 'name': 'English'}, {'iso...",Released,Just because you are a character doesn't mean ...,Pulp Fiction,False,8.3,8670.0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
132,False,"{'id': 468552, 'name': 'Wonder Woman Collectio...",149000000,"[{'id': 28, 'name': 'Action'}, {'id': 12, 'nam...",http://www.warnerbros.com/wonder-woman,297762,tt0451279,en,Wonder Woman,An Amazon princess comes to the world of Man t...,...,2017-05-30,820580447.0,141.0,"[{'iso_639_1': 'de', 'name': 'Deutsch'}, {'iso...",Released,Power. Grace. Wisdom. Wonder.,Wonder Woman,False,7.2,5025.0
133,False,NaN,40000000,"[{'id': 53, 'name': 'Thriller'}, {'id': 18, 'n...",NaN,296098,tt3682448,en,Bridge of Spies,"During the Cold War, the Soviet Union captures...",...,2015-10-15,165478348.0,141.0,"[{'iso_639_1': 'ru', 'name': 'Pусский'}, {'iso...",Released,"In the shadow of war, one man showed the world...",Bridge of Spies,False,7.2,2633.0
134,False,NaN,40000000,"[{'id': 18, 'name': 'Drama'}, {'id': 36, 'name...",http://www.hacksawridge.movie/,324786,tt2119532,en,Hacksaw Ridge,"WWII American Army Medic Desmond T. Doss, who ...",...,2016-10-07,175302354.0,140.0,"[{'iso_639_1': 'ja', 'name': '日本語'}, {'iso_639...",Released,One of the greatest heroes in American history...,Hacksaw Ridge,False,7.8,3294.0
135,False,"{'id': 173710, 'name': 'Planet of the Apes (Re...",152000000,"[{'id': 18, 'name': 'Drama'}, {'id': 878, 'nam...",http://www.foxmovies.com/movies/war-for-the-pl...,281338,tt3450958,en,War for the Planet of the Apes,Caesar and his apes are forced into a deadly c...,...,2017-07-11,369907963.0,140.0,"[{'iso_639_1': 'en', 'name': 'English'}]",Released,For freedom. For family. For the planet.,War for the Planet of the Apes,False,6.7,1675.0
136,False,"{'id': 8650, 'name': 'Transformers Collection'...",260000000,"[{'id': 28, 'name': 'Action'}, {'id': 878, 'na...",http://www.transformersmovie.com/,335988,tt3371366,en,Transformers: The Last Knight,"Autobots and Decepticons are at war, with huma...",...,2017-06-21,604942143.0,149.0,"[{'iso_639_1': 'en', 'name': 'English'}]",Released,"For one world to live, the other must die.",Transformers: The Last Knight,False,6.2,1440.0

In [100]:
ad=rd[rd['genres'].apply(lambda genres: "Action" in genres)]
bd=rd[rd['genres'].apply(lambda genres: "Adventure" in genres)]

In [104]:
rd = pd.merge(ad,bd)
rd

,adult,belongs_to_collection,budget,genres,homepage,id,imdb_id,original_language,original_title,overview,...,release_date,revenue,runtime,spoken_languages,status,tagline,title,video,vote_average,vote_count
0,False,"{'id': 304378, 'name': 'Independence Day Colle...",75000000,"[{'id': 28, 'name': 'Action'}, {'id': 12, 'nam...",NaN,602,tt0116629,en,Independence Day,"On July 2, a giant alien mothership enters orb...",...,1996-06-25,8.169693e+08,145.0,"[{'iso_639_1': 'en', 'name': 'English'}]",Released,Earth. Take a good look. It might be your last.,Independence Day,False,6.7,3334.0
1,False,NaN,140000000,"[{'id': 28, 'name': 'Action'}, {'id': 53, 'nam...",NaN,95,tt0120591,en,Armageddon,When an asteroid threatens to collide with Ear...,...,1998-07-01,5.537996e+08,151.0,"[{'iso_639_1': 'en', 'name': 'English'}, {'iso...",Released,The Earth's Darkest Day Will Be Man's Finest Hour,Armageddon,False,6.5,2540.0
2,False,"{'id': 8537, 'name': 'Superman Collection', 'p...",55000000,"[{'id': 28, 'name': 'Action'}, {'id': 12, 'nam...",NaN,1924,tt0078346,en,Superman,Mild-mannered Clark Kent works as a reporter a...,...,1978-12-13,3.002180e+08,143.0,"[{'iso_639_1': 'en', 'name': 'English'}]",Released,You'll Believe a Man Can Fly!,Superman,False,6.9,1042.0
3,False,NaN,103000000,"[{'id': 28, 'name': 'Action'}, {'id': 18, 'nam...",NaN,98,tt0172495,en,Gladiator,"In the year 180, the death of emperor Marcus A...",...,2000-05-01,4.576404e+08,155.0,"[{'iso_639_1': 'en', 'name': 'English'}]",Released,A Hero Will Rise.,Gladiator,False,7.9,5566.0
4,False,"{'id': 119, 'name': 'The Lord of the Rings Col...",93000000,"[{'id': 12, 'name': 'Adventure'}, {'id': 14, '...",http://www.lordoftherings.net/,120,tt0120737,en,The Lord of the Rings: The Fellowship of the Ring,"Young hobbit Frodo Baggins, after inheriting a...",...,2001-12-18,8.713684e+08,178.0,"[{'iso_639_1': 'en', 'name': 'English'}]",Released,One ring to rule them all,The Lord of the Rings: The Fellowship of the Ring,False,8.0,8892.0
5,False,"{'id': 10, 'name': 'Star Wars Collection', 'po...",120000000,"[{'id': 12, 'name': 'Adventure'}, {'id': 28, '...",http://www.starwars.com/films/star-wars-episod...,1894,tt0121765,en,Star Wars: Episode II - Attack of the Clones,"Ten years after the invasion of Naboo, the gal...",...,2002-05-15,6.493983e+08,142.0,"[{'iso_639_1': 'en', 'name': 'English'}]",Released,A Jedi Shall Not Know Anger. Nor Hatred. Nor L...,Star Wars: Episode II - Attack of the Clones,False,6.4,4074.0
6,False,"{'id': 119, 'name': 'The Lord of the Rings Col...",79000000,"[{'id': 12, 'name': 'Adventure'}, {'id': 14, '...",http://www.lordoftherings.net/,121,tt0167261,en,The Lord of the Rings: The Two Towers,Frodo and Sam are trekking to Mordor to destro...,...,2002-12-18,9.262874e+08,179.0,"[{'iso_639_1': 'en', 'name': 'English'}]",Released,A New Power Is Rising.,The Lord of the Rings: The Two Towers,False,8.0,7641.0
7,False,"{'id': 295, 'name': 'Pirates of the Caribbean ...",140000000,"[{'id': 12, 'name': 'Adventure'}, {'id': 14, '...",http://disney.go.com/disneyvideos/liveaction/p...,22,tt0325980,en,Pirates of the Caribbean: The Curse of the Bla...,"Jack Sparrow, a freewheeling 17th-century pira...",...,2003-07-09,6.550112e+08,143.0,"[{'iso_639_1': 'en', 'name': 'English'}]",Released,Prepare to be blown out of the water.,Pirates of the Caribbean: The Curse of the Bla...,False,7.5,7191.0
8,False,"{'id': 14890, 'name': 'Bad Boys Collection', '...",130000000,"[{'id': 12, 'name': 'Adventure'}, {'id': 28, '...",NaN,8961,tt0172156,en,Bad Boys II,"Out-of-control, trash-talking buddy cops Marcu...",...,2003-07-18,2.733396e+08,147.0,"[{'iso_639_1': 'en', 'name': 'English'}, {'iso...",Released,"If you can't stand the heat, get out of Miami.",Bad Boys II,False,6.3,1588.0
9,False,"{'id': 119, 'name': 'The Lord of the Rings Col...",94000000,"[{'id': 12, 'name': 'Adventure'}, {'id': 14, '...",http://www.lordoftherings.net,122,tt0167260,en,The Lord of the Rings: The Return of the King,Aragorn is revealed as the heir to the ancient...,...,2003-12-01,1.118889e+09,201.0,"[{'iso_639_1': 'en', 'name': 'English'}]",Released,The eye of the enemy is moving.,The Lord of the Rings: The Return of the King,False,8.1,8226.0
10,False,NaN,130000000,"[{'id': 18, 'name': 'Drama'}, {'id': 28, 'name...",http://www.kingdomofheavendvd.com/,1495,tt0320661,en,Kingdom of Heaven,"After his wife dies, a blacksmith named Balian...",...,2005-05-03,2.116432e+08,144.0,"[{'iso_639_1': 'ar', 'name': 'العربية'}, {'iso...",Released,Be without fear in the face of your enemies. S...,Kingdom of Heaven,False,6.6,1187.0
11,False,"{'id': 10, 'name': 'Star Wars Collection', 'po...",113000000,"[{'id': 878, 'name': 'Science Fiction'}, {'id'...",http://www.starwars.com/films/star-wars-episod...,1895,tt0121766,en,Star Wars: Episode III - Revenge of the Sith,"Years after the onset of the Clone Wars, the n...",...,2005-05-17,8.500000e+08,140.0,"[{'iso_639_1': 'en', 'name': 'English'}]",Released,The saga is complete.,Star Wars: Episode III - Revenge of the Sith,False,7.1,4200.0
12,False,NaN,207000000,"[{'id': 12, 'name': 'Adventure'}, {'id': 18, '...",NaN,254,tt0360717,en,King Kong,"In 1933 New York, an overly ambitious movie pr...",...,2005-12-14,5.500000e+08,187.0,"[{'iso_639_1': 'en', 'name': 'English'}]",Released,The eighth wonder of the world.,King Kong,False,6.6,2403.0
13,False,"{'id': 295, 'name': 'Pirates of the Caribbean ...",200000000,"[{'id': 12, 'name': 'Adventure'}, {'id': 14, '...",http://disney.go.com/disneypictures/pirates/,58,tt0383574,en,Pirates of the Caribbean: Dead Man's Chest,Captain Jack Sparrow works his way out of a bl...,...,2006-06-20,1.065660e+09,151.0,"[{'iso_639_1': 'en', 'name': 'English'}, {'iso...",Released,Jack is back!,Pirates of the Caribbean: Dead Man's Chest,False,7.0,5380.0
14,False,"{'id': 8537, 'name': 'Superman Collection', 'p...",270000000,"[{'id': 12, 'name': 'Adventure'}, {'id': 14, '...",http://www.superman.com,1452,tt0348150,en,Superman Returns,Superman returns to discover his 5-year absenc...,...,2006-06-28,3.910812e+08,154.0,"[{'iso_639_1': 'en', 'name': 'English'}, {'iso...",Released,NaN,Superman Returns,False,5.4,1429.0
15,False,"{'id': 645, 'name': 'James Bond Collection', '...",150000000,"[{'id': 12, 'name': 'Adventure'}, {'id': 28, '...",http://www.mgm.com/#/our-titles/233/Casino-Roy...,36557,tt0381061,en,Casino Royale,"Le Chiffre, a banker to the world's terrorists...",...,2006-11-14,5.990460e+08,144.0,"[{'iso_639_1': 'en', 'name': 'English'}, {'iso...",Released,Everyone has a past. Every legend has a beginn...,Casino Royale,False,7.3,3930.0
16,False,"{'id': 295, 'name': 'Pirates of the Caribbean ...",300000000,"[{'id': 12, 'name': 'Adventure'}, {'id': 14, '...",http://disney.go.com/disneypictures/pirates/,285,tt0449088,en,Pirates of the Caribbean: At World's End,"Captain Barbossa, long believed to be dead, ha...",...,2007-05-19,9.610000e+08,169.0,"[{'iso_639_1': 'en', 'name': 'English'}]",Released,"At the end of the world, the adventure begins.",Pirates of the Caribbean: At World's End,False,6.9,4627.0
17,False,"{'id': 8650, 'name': 'Transformers Collection'...",150000000,"[{'id': 12, 'name': 'Adventure'}, {'id': 878, ...",http://www.transformersmovie.com/,1858,tt0418279,en,Transformers,"Young teenager, Sam Witwicky becomes involved ...",...,2007-06-27,7.097098e+08,144.0,"[{'iso_639_1': 'es', 'name': 'Español'}, {'iso...",Released,Their war. Our world.,Transformers,False,6.6,4113.0
18,False,"{'id': 8650, 'name': 'Transformers Collection'...",150000000,"[{'id': 878, 'name': 'Science Fiction'}, {'id'...",http://www.transformersmovie.com/,8373,tt1055369,en,Transformers: Revenge of the Fallen,Sam Witwicky leaves the Autobots behind for a ...,...,2009-06-19,8.362972e+08,150.0,"[{'iso_639_1': 'en', 'name': 'English'}, {'iso...",Released,Revenge is coming.,Transformers: Revenge of the Fallen,False,6.0,3192.0
19,False,NaN,200000000,"[{'id': 28, 'name': 'Action'}, {'id': 12, 'nam...",http://www.sonypictures.com/movies/2012,14161,tt1190080,en,2012,"Dr. Adrian Helmsley, part of a worldwide geoph...",...,2009-10-10,7.696536e+08,158.0,"[{'iso_639_1': 'en', 'name': 'English'}, {'iso...",Released,We Were Warned.,2012,False,5.6,4994.0
20,False,"{'id': 87096, 'name': 'Avatar Collection', 'po...",237000000,"[{'id': 28, 'name': 'Action'}, {'id': 12, 'nam...",http://www.avatarmovie.com/,19995,tt0499549,en,Avatar,"In the 22nd century, a paraplegic Marine is di...",...,2009-12-10,2.787965e+09,162.0,"[{'iso_639_1': 'en', 'name': 'English'}, {'iso...",Released,Enter the World of Pandora.,Avatar,False,7.2,12114.0
21,False,NaN,200000000,"[{'id': 28, 'name': 'Action'}, {'id': 12, 'nam...",http://www.robinhoodthemovie.com/,20662,tt0955308,en,Robin Hood,When soldier Robin happens upon the dying Robe...,...,2010-05-12,3.106695e+08,140.0,"[{'iso_639_1': 'en', 'name': 'English'}, {'iso...",Released,"Rise and rise again, until lambs become lions.",Robin Hood,False,6.2,1434.0
22,False,NaN,160000000,"[{'id': 28, 'name': 'Action'}, {'id': 53, 'nam...",http://inceptionmovie.warnerbros.com/,27205,tt1375666,en,Inception,"Cobb, a skilled thief who commits corporate es...",...,2010-07-14,8.255328e+08,148.0,"[{'iso_639_1': 'en', 'name': 'English'}]",Released,Your mind is the scene of the crime.,Inception,False,8.1,14075.0
23,False,NaN,40000000,"[{'id': 28, 'name': 'Action'}, {'id': 12, 'nam...",http://www.karatekid-themovie.com/,38575,tt1155076,en,The Karate Kid,12-year-old Dre Parker could have been the mos...,...,2010-06-10,3.578524e+08,140.0,"[{'iso_639_1': 'zh', 'name': '普通话'}, {'iso_639...",Released,A Challenge He Never Imagined. A Teacher He Ne...,The Karate Kid,False,6.2,1675.0
24,False,"{'id': 8650, 'name': 'Transformers Collection'...",195000000,"[{'id': 28, 'name': 'Action'}, {'id': 878, 'na...",http://www.transformersmovie.com/,38356,tt1399103,en,Transformers: Dark of the Moon,Sam Witwicky takes his first tenuous steps int...,...,2011-06-28,1.123747e+09,154.0,"[{'iso_639_1': 'en', 'name': 'English'}]",Released,The invasion we always feared. An enemy we nev...,Transformers: Dark of the Moon,False,6.1,3351.0
25,False,"{'id': 86311, 'name': 'The Avengers Collection...",220000000,"[{'id': 878, 'name': 'Science Fiction'}, {'id'...",http://marvel.com/avengers_movie/,24428,tt0848228,en,The Avengers,When an unexpected enemy emerges and threatens...,...,2012-04-25,1.519558e+09,143.0,"[{'iso_639_1': 'en', 'name': 'English'}]",Released,Some assembly required.,The Avengers,False,7.4,12000.0
26,False,"{'id': 645, 'name': 'James Bond Collection', '...",200000000,"[{'id': 28, 'name': 'Action'}, {'id': 12, 'nam...",http://www.skyfall-movie.com,37724,tt1074638,en,Skyfall,When Bond's latest assignment goes gravely wro...,...,2012-10-25,1.108561e+09,143.0,"[{'iso_639_1': 'en', 'name': 'English'}]",Released,Think on your sins.,Skyfall,False,6.9,7718.0
27,False,"{'id': 121938, 'name': 'The Hobbit Collection'...",250000000,"[{'id': 12, 'name': 'Adventure'}, {'id': 14, '...",http://www.thehobbit.com/,49051,tt0903624,en,The Hobbit: An Unexpected Journey,"Bilbo Baggins, a hobbit enjoying his quiet lif...",...,2012-11-26,1.021104e+09,169.0,"[{'iso_639_1': 'en', 'name': 'English'}]",Released,From the smallest beginnings come the greatest...,The Hobbit: An Unexpected Journey,False,7.0,8427.0
28,False,"{'id': 209131, 'name': 'Man of Steel Collectio...",225000000,"[{'id': 28, 'name': 'Action'}, {'id': 12, 'nam...",http://www.manofsteel.com/,49521,tt0770828,en,Man of Steel,A young boy learns that he has extraordinary p...,...,2013-06-12,6.628455e+08,143.0,"[{'iso_639_1': 'en', 'name': 'English'}]",Released,You will believe that a man can fly.,Man of Steel,False,6.5,6462.0
29,False,NaN,255000000,"[{'id': 28, 'name': 'Action'}, {'id': 12, 'nam...",http://disney.go.com/the-lone-ranger/,57201,tt1210819,en,The Lone Ranger,The Texas Rangers chase down a gang of outlaws...,...,2013-07-03,8.928991e+07,149.0,"[{'iso_639_1': 'en', 'name': 'English'}]",Released,Never Take Off the Mask,The Lone Ranger,False,5.9,2361.0
30,False,"{'id': 131635, 'name': 'The Hunger Games Colle...",130000000,"[{'id': 12, 'name': 'Adventure'}, {'id': 28, '...",http://www.thehungergames.movie/,101299,tt1951264,en,The Hunger Games: Catching Fire,Katniss Everdeen has returned home safe after ...,...,2013-11-15,8.474235e+08,146.0,"[{'iso_639_1': 'en', 'name': 'English'}]",Released,Every revolution begins with a spark.,The Hunger Games: Catching Fire,False,7.4,6656.0
31,False,"{'id': 125574, 'name': 'The Amazing Spider-Man...",200000000,"[{'id': 28, 'name': 'Action'}, {'id': 12, 'nam...",http://www.theamazingspiderman.com,102382,tt1872181,en,The Amazing Spider-Man 2,"For Peter Parker, life is busy. Between taking...",...,2014-04-16,7.057174e+08,142.0,"[{'iso_639_1': 'en', 'name': 'English'}]",Released,No more secrets.,The Amazing Spider-Man 2,False,6.5,4274.0
32,False,"{'id': 8650, 'name': 'Transformers Collection'...",210000000,"[{'id': 878, 'name': 'Science Fiction'}, {'id'...",http://www.transformersmovie.com,91314,tt2109248,en,Transformers: Age of Extinction,"As humanity picks up the pieces, following the...",...,2014-06-25,1.091405e+09,165.0,"[{'iso_639_1': 'en', 'name': 'English'}]",Released,This is not war. It's extinction.,Transformers: Age of Extinction,False,5.8,3136.0
33,False,NaN,140000000,"[{'id': 12, 'name': 'Adventure'}, {'id': 18, '...",http://www.exodusgodsandkings.com/,147441,tt1528100,en,Exodus: Gods and Kings,The defiant leader Moses rises up against the ...,...,2014-12-03,2.680318e+08,150.0,"[{'iso_639_1': 'en', 'name': 'English'}]",Released,"Once brothers, now enemies.",Exodus: Gods and Kings,False,5.6,1957.0
34,False,"{'id': 121938, 'name': 'The Hobbit Collection'...",250000000,"[{'id': 28, 'name': 'Action'}, {'id': 12, 'nam...",http://www.thehobbit.com/,122917,tt2310332,en,The Hobbit: The Battle of the Five Armies,Immediately after the events of The Desolation...,...,2014-12-10,9.560198e+08,144.0,"[{'iso_639_1': 'en', 'name': 'English'}]",Released,Witness the defining chapter of the Middle-Ear...,The Hobbit: The Battle of the Five Armies,False,7.1,4884.0
35,False,"{'id': 86311, 'name': 'The Avengers Collection...",280000000,"[{'id': 28, 'name': 'Action'}, {'id': 12, 'nam...",http://marvel.com/movies/movie/193/avengers_ag...,99861,tt2395427,en,Avengers: Age of Ultron,When Tony Stark tries to jumpstart a dormant p...,...,2015-04-22,1.405404e+09,141.0,"[{'iso_639_1': 'en', 'name': 'English'}]",Released,A New Age Has Come.,Avengers: Age of Ultron,False,7.3,6908.0
36,False,"{'id': 131295, 'name': 'Captain America Collec...",250000000,"[{'id': 12, 'name': 'Adventure'}, {'id': 28, '...",http://marvel.com/captainamericapremiere,271110,tt3498820,en,Captain America: Civil War,"Following the events of Age of Ultron, the col...",...,2016-04-27,1.153304e+09,147.0,"[{'iso_639_1': 'ro', 'name': 'Română'}, {'iso_...",Released,Divided We Fall,Captain America: Civil War,False,7.1,7462.0
37,False,"{'id': 645, 'name': 'James Bond Collection', '...",245000000,"[{'id': 28, 'name': 'Action'}, {'id': 12, 'nam...",http://www.sonypictures.com/movies/spectre/,206647,tt2379713,en,Spectre,A cryptic message from Bond’s past sends him o...,...,2015-10-26,8.806746e+08,148.0,"[{'iso_639_1': 'fr', 'name': 'Français'}, {'is...",Released,A Plan No One Escapes,Spectre,False,6.3,4552.0
38,False,"{'id': 209131, 'name': 'Man of Steel Collectio...",250000000,"[{'id': 28, 'name': 'Action'}, {'id': 12, 'nam...",http://www.batmanvsupermandawnofjustice.com/,209112,tt2975590,en,Batman v Superman: Dawn of Justice,Fearing the actions of a god-like Super Hero l...,...,2016-03-23,8.732602e+08,151.0,"[{'iso_639_1': 'en', 'name': 'English'}]",Released,Justice or revenge,Batman v Superman: Dawn of Justice,False,5.7,7189.0
39,False,"{'id': 468552, 'name': 'Wonder Woman Collectio...",149000000,"[{'id': 28, 'name': 'Action'}, {'id': 12, 'nam...",http://www.warnerbros.com/wonder-woman,297762,tt0451279,en,Wonder Woman,An Amazon princess comes to the world of Man t...,...,2017-05-30,8.205804e+08,141.0,"[{'iso_639_1': 'de', 'name': 'Deutsch'}, {'iso...",Released,Power. Grace. Wisdom. Wonder.,Wonder Woman,False,7.2,5025.0
40,False,"{'id': 8650, 'name': 'Transformers Collection'...",260000000,"[{'id': 28, 'name': 'Action'}, {'id': 878, 'na...",http://www.transformersmovie.com/,335988,tt3371366,en,Transformers: The Last Knight,"Autobots and Decepticons are at war, with huma...",...,2017-06-21,6.049421e+08,149.0,"[{'iso_639_1': 'en', 'name': 'English'}]",Released,"For one world to live, the other must die.",Transformers: The Last Knight,False,6.2,1440.0

In [105]:
rd.reset_index()
rd

,adult,belongs_to_collection,budget,genres,homepage,id,imdb_id,original_language,original_title,overview,...,release_date,revenue,runtime,spoken_languages,status,tagline,title,video,vote_average,vote_count
0,False,"{'id': 304378, 'name': 'Independence Day Colle...",75000000,"[{'id': 28, 'name': 'Action'}, {'id': 12, 'nam...",NaN,602,tt0116629,en,Independence Day,"On July 2, a giant alien mothership enters orb...",...,1996-06-25,8.169693e+08,145.0,"[{'iso_639_1': 'en', 'name': 'English'}]",Released,Earth. Take a good look. It might be your last.,Independence Day,False,6.7,3334.0
1,False,NaN,140000000,"[{'id': 28, 'name': 'Action'}, {'id': 53, 'nam...",NaN,95,tt0120591,en,Armageddon,When an asteroid threatens to collide with Ear...,...,1998-07-01,5.537996e+08,151.0,"[{'iso_639_1': 'en', 'name': 'English'}, {'iso...",Released,The Earth's Darkest Day Will Be Man's Finest Hour,Armageddon,False,6.5,2540.0
2,False,"{'id': 8537, 'name': 'Superman Collection', 'p...",55000000,"[{'id': 28, 'name': 'Action'}, {'id': 12, 'nam...",NaN,1924,tt0078346,en,Superman,Mild-mannered Clark Kent works as a reporter a...,...,1978-12-13,3.002180e+08,143.0,"[{'iso_639_1': 'en', 'name': 'English'}]",Released,You'll Believe a Man Can Fly!,Superman,False,6.9,1042.0
3,False,NaN,103000000,"[{'id': 28, 'name': 'Action'}, {'id': 18, 'nam...",NaN,98,tt0172495,en,Gladiator,"In the year 180, the death of emperor Marcus A...",...,2000-05-01,4.576404e+08,155.0,"[{'iso_639_1': 'en', 'name': 'English'}]",Released,A Hero Will Rise.,Gladiator,False,7.9,5566.0
4,False,"{'id': 119, 'name': 'The Lord of the Rings Col...",93000000,"[{'id': 12, 'name': 'Adventure'}, {'id': 14, '...",http://www.lordoftherings.net/,120,tt0120737,en,The Lord of the Rings: The Fellowship of the Ring,"Young hobbit Frodo Baggins, after inheriting a...",...,2001-12-18,8.713684e+08,178.0,"[{'iso_639_1': 'en', 'name': 'English'}]",Released,One ring to rule them all,The Lord of the Rings: The Fellowship of the Ring,False,8.0,8892.0
5,False,"{'id': 10, 'name': 'Star Wars Collection', 'po...",120000000,"[{'id': 12, 'name': 'Adventure'}, {'id': 28, '...",http://www.starwars.com/films/star-wars-episod...,1894,tt0121765,en,Star Wars: Episode II - Attack of the Clones,"Ten years after the invasion of Naboo, the gal...",...,2002-05-15,6.493983e+08,142.0,"[{'iso_639_1': 'en', 'name': 'English'}]",Released,A Jedi Shall Not Know Anger. Nor Hatred. Nor L...,Star Wars: Episode II - Attack of the Clones,False,6.4,4074.0
6,False,"{'id': 119, 'name': 'The Lord of the Rings Col...",79000000,"[{'id': 12, 'name': 'Adventure'}, {'id': 14, '...",http://www.lordoftherings.net/,121,tt0167261,en,The Lord of the Rings: The Two Towers,Frodo and Sam are trekking to Mordor to destro...,...,2002-12-18,9.262874e+08,179.0,"[{'iso_639_1': 'en', 'name': 'English'}]",Released,A New Power Is Rising.,The Lord of the Rings: The Two Towers,False,8.0,7641.0
7,False,"{'id': 295, 'name': 'Pirates of the Caribbean ...",140000000,"[{'id': 12, 'name': 'Adventure'}, {'id': 14, '...",http://disney.go.com/disneyvideos/liveaction/p...,22,tt0325980,en,Pirates of the Caribbean: The Curse of the Bla...,"Jack Sparrow, a freewheeling 17th-century pira...",...,2003-07-09,6.550112e+08,143.0,"[{'iso_639_1': 'en', 'name': 'English'}]",Released,Prepare to be blown out of the water.,Pirates of the Caribbean: The Curse of the Bla...,False,7.5,7191.0
8,False,"{'id': 14890, 'name': 'Bad Boys Collection', '...",130000000,"[{'id': 12, 'name': 'Adventure'}, {'id': 28, '...",NaN,8961,tt0172156,en,Bad Boys II,"Out-of-control, trash-talking buddy cops Marcu...",...,2003-07-18,2.733396e+08,147.0,"[{'iso_639_1': 'en', 'name': 'English'}, {'iso...",Released,"If you can't stand the heat, get out of Miami.",Bad Boys II,False,6.3,1588.0
9,False,"{'id': 119, 'name': 'The Lord of the Rings Col...",94000000,"[{'id': 12, 'name': 'Adventure'}, {'id': 14, '...",http://www.lordoftherings.net,122,tt0167260,en,The Lord of the Rings: The Return of the King,Aragorn is revealed as the heir to the ancient...,...,2003-12-01,1.118889e+09,201.0,"[{'iso_639_1': 'en', 'name': 'English'}]",Released,The eye of the enemy is moving.,The Lord of the Rings: The Return of the King,False,8.1,8226.0
10,False,NaN,130000000,"[{'id': 18, 'name': 'Drama'}, {'id': 28, 'name...",http://www.kingdomofheavendvd.com/,1495,tt0320661,en,Kingdom of Heaven,"After his wife dies, a blacksmith named Balian...",...,2005-05-03,2.116432e+08,144.0,"[{'iso_639_1': 'ar', 'name': 'العربية'}, {'iso...",Released,Be without fear in the face of your enemies. S...,Kingdom of Heaven,False,6.6,1187.0
11,False,"{'id': 10, 'name': 'Star Wars Collection', 'po...",113000000,"[{'id': 878, 'name': 'Science Fiction'}, {'id'...",http://www.starwars.com/films/star-wars-episod...,1895,tt0121766,en,Star Wars: Episode III - Revenge of the Sith,"Years after the onset of the Clone Wars, the n...",...,2005-05-17,8.500000e+08,140.0,"[{'iso_639_1': 'en', 'name': 'English'}]",Released,The saga is complete.,Star Wars: Episode III - Revenge of the Sith,False,7.1,4200.0
12,False,NaN,207000000,"[{'id': 12, 'name': 'Adventure'}, {'id': 18, '...",NaN,254,tt0360717,en,King Kong,"In 1933 New York, an overly ambitious movie pr...",...,2005-12-14,5.500000e+08,187.0,"[{'iso_639_1': 'en', 'name': 'English'}]",Released,The eighth wonder of the world.,King Kong,False,6.6,2403.0
13,False,"{'id': 295, 'name': 'Pirates of the Caribbean ...",200000000,"[{'id': 12, 'name': 'Adventure'}, {'id': 14, '...",http://disney.go.com/disneypictures/pirates/,58,tt0383574,en,Pirates of the Caribbean: Dead Man's Chest,Captain Jack Sparrow works his way out of a bl...,...,2006-06-20,1.065660e+09,151.0,"[{'iso_639_1': 'en', 'name': 'English'}, {'iso...",Released,Jack is back!,Pirates of the Caribbean: Dead Man's Chest,False,7.0,5380.0
14,False,"{'id': 8537, 'name': 'Superman Collection', 'p...",270000000,"[{'id': 12, 'name': 'Adventure'}, {'id': 14, '...",http://www.superman.com,1452,tt0348150,en,Superman Returns,Superman returns to discover his 5-year absenc...,...,2006-06-28,3.910812e+08,154.0,"[{'iso_639_1': 'en', 'name': 'English'}, {'iso...",Released,NaN,Superman Returns,False,5.4,1429.0
15,False,"{'id': 645, 'name': 'James Bond Collection', '...",150000000,"[{'id': 12, 'name': 'Adventure'}, {'id': 28, '...",http://www.mgm.com/#/our-titles/233/Casino-Roy...,36557,tt0381061,en,Casino Royale,"Le Chiffre, a banker to the world's terrorists...",...,2006-11-14,5.990460e+08,144.0,"[{'iso_639_1': 'en', 'name': 'English'}, {'iso...",Released,Everyone has a past. Every legend has a beginn...,Casino Royale,False,7.3,3930.0
16,False,"{'id': 295, 'name': 'Pirates of the Caribbean ...",300000000,"[{'id': 12, 'name': 'Adventure'}, {'id': 14, '...",http://disney.go.com/disneypictures/pirates/,285,tt0449088,en,Pirates of the Caribbean: At World's End,"Captain Barbossa, long believed to be dead, ha...",...,2007-05-19,9.610000e+08,169.0,"[{'iso_639_1': 'en', 'name': 'English'}]",Released,"At the end of the world, the adventure begins.",Pirates of the Caribbean: At World's End,False,6.9,4627.0
17,False,"{'id': 8650, 'name': 'Transformers Collection'...",150000000,"[{'id': 12, 'name': 'Adventure'}, {'id': 878, ...",http://www.transformersmovie.com/,1858,tt0418279,en,Transformers,"Young teenager, Sam Witwicky becomes involved ...",...,2007-06-27,7.097098e+08,144.0,"[{'iso_639_1': 'es', 'name': 'Español'}, {'iso...",Released,Their war. Our world.,Transformers,False,6.6,4113.0
18,False,"{'id': 8650, 'name': 'Transformers Collection'...",150000000,"[{'id': 878, 'name': 'Science Fiction'}, {'id'...",http://www.transformersmovie.com/,8373,tt1055369,en,Transformers: Revenge of the Fallen,Sam Witwicky leaves the Autobots behind for a ...,...,2009-06-19,8.362972e+08,150.0,"[{'iso_639_1': 'en', 'name': 'English'}, {'iso...",Released,Revenge is coming.,Transformers: Revenge of the Fallen,False,6.0,3192.0
19,False,NaN,200000000,"[{'id': 28, 'name': 'Action'}, {'id': 12, 'nam...",http://www.sonypictures.com/movies/2012,14161,tt1190080,en,2012,"Dr. Adrian Helmsley, part of a worldwide geoph...",...,2009-10-10,7.696536e+08,158.0,"[{'iso_639_1': 'en', 'name': 'English'}, {'iso...",Released,We Were Warned.,2012,False,5.6,4994.0
20,False,"{'id': 87096, 'name': 'Avatar Collection', 'po...",237000000,"[{'id': 28, 'name': 'Action'}, {'id': 12, 'nam...",http://www.avatarmovie.com/,19995,tt0499549,en,Avatar,"In the 22nd century, a paraplegic Marine is di...",...,2009-12-10,2.787965e+09,162.0,"[{'iso_639_1': 'en', 'name': 'English'}, {'iso...",Released,Enter the World of Pandora.,Avatar,False,7.2,12114.0
21,False,NaN,200000000,"[{'id': 28, 'name': 'Action'}, {'id': 12, 'nam...",http://www.robinhoodthemovie.com/,20662,tt0955308,en,Robin Hood,When soldier Robin happens upon the dying Robe...,...,2010-05-12,3.106695e+08,140.0,"[{'iso_639_1': 'en', 'name': 'English'}, {'iso...",Released,"Rise and rise again, until lambs become lions.",Robin Hood,False,6.2,1434.0
22,False,NaN,160000000,"[{'id': 28, 'name': 'Action'}, {'id': 53, 'nam...",http://inceptionmovie.warnerbros.com/,27205,tt1375666,en,Inception,"Cobb, a skilled thief who commits corporate es...",...,2010-07-14,8.255328e+08,148.0,"[{'iso_639_1': 'en', 'name': 'English'}]",Released,Your mind is the scene of the crime.,Inception,False,8.1,14075.0
23,False,NaN,40000000,"[{'id': 28, 'name': 'Action'}, {'id': 12, 'nam...",http://www.karatekid-themovie.com/,38575,tt1155076,en,The Karate Kid,12-year-old Dre Parker could have been the mos...,...,2010-06-10,3.578524e+08,140.0,"[{'iso_639_1': 'zh', 'name': '普通话'}, {'iso_639...",Released,A Challenge He Never Imagined. A Teacher He Ne...,The Karate Kid,False,6.2,1675.0
24,False,"{'id': 8650, 'name': 'Transformers Collection'...",195000000,"[{'id': 28, 'name': 'Action'}, {'id': 878, 'na...",http://www.transformersmovie.com/,38356,tt1399103,en,Transformers: Dark of the Moon,Sam Witwicky takes his first tenuous steps int...,...,2011-06-28,1.123747e+09,154.0,"[{'iso_639_1': 'en', 'name': 'English'}]",Released,The invasion we always feared. An enemy we nev...,Transformers: Dark of the Moon,False,6.1,3351.0
25,False,"{'id': 86311, 'name': 'The Avengers Collection...",220000000,"[{'id': 878, 'name': 'Science Fiction'}, {'id'...",http://marvel.com/avengers_movie/,24428,tt0848228,en,The Avengers,When an unexpected enemy emerges and threatens...,...,2012-04-25,1.519558e+09,143.0,"[{'iso_639_1': 'en', 'name': 'English'}]",Released,Some assembly required.,The Avengers,False,7.4,12000.0
26,False,"{'id': 645, 'name': 'James Bond Collection', '...",200000000,"[{'id': 28, 'name': 'Action'}, {'id': 12, 'nam...",http://www.skyfall-movie.com,37724,tt1074638,en,Skyfall,When Bond's latest assignment goes gravely wro...,...,2012-10-25,1.108561e+09,143.0,"[{'iso_639_1': 'en', 'name': 'English'}]",Released,Think on your sins.,Skyfall,False,6.9,7718.0
27,False,"{'id': 121938, 'name': 'The Hobbit Collection'...",250000000,"[{'id': 12, 'name': 'Adventure'}, {'id': 14, '...",http://www.thehobbit.com/,49051,tt0903624,en,The Hobbit: An Unexpected Journey,"Bilbo Baggins, a hobbit enjoying his quiet lif...",...,2012-11-26,1.021104e+09,169.0,"[{'iso_639_1': 'en', 'name': 'English'}]",Released,From the smallest beginnings come the greatest...,The Hobbit: An Unexpected Journey,False,7.0,8427.0
28,False,"{'id': 209131, 'name': 'Man of Steel Collectio...",225000000,"[{'id': 28, 'name': 'Action'}, {'id': 12, 'nam...",http://www.manofsteel.com/,49521,tt0770828,en,Man of Steel,A young boy learns that he has extraordinary p...,...,2013-06-12,6.628455e+08,143.0,"[{'iso_639_1': 'en', 'name': 'English'}]",Released,You will believe that a man can fly.,Man of Steel,False,6.5,6462.0
29,False,NaN,255000000,"[{'id': 28, 'name': 'Action'}, {'id': 12, 'nam...",http://disney.go.com/the-lone-ranger/,57201,tt1210819,en,The Lone Ranger,The Texas Rangers chase down a gang of outlaws...,...,2013-07-03,8.928991e+07,149.0,"[{'iso_639_1': 'en', 'name': 'English'}]",Released,Never Take Off the Mask,The Lone Ranger,False,5.9,2361.0
30,False,"{'id': 131635, 'name': 'The Hunger Games Colle...",130000000,"[{'id': 12, 'name': 'Adventure'}, {'id': 28, '...",http://www.thehungergames.movie/,101299,tt1951264,en,The Hunger Games: Catching Fire,Katniss Everdeen has returned home safe after ...,...,2013-11-15,8.474235e+08,146.0,"[{'iso_639_1': 'en', 'name': 'English'}]",Released,Every revolution begins with a spark.,The Hunger Games: Catching Fire,False,7.4,6656.0
31,False,"{'id': 125574, 'name': 'The Amazing Spider-Man...",200000000,"[{'id': 28, 'name': 'Action'}, {'id': 12, 'nam...",http://www.theamazingspiderman.com,102382,tt1872181,en,The Amazing Spider-Man 2,"For Peter Parker, life is busy. Between taking...",...,2014-04-16,7.057174e+08,142.0,"[{'iso_639_1': 'en', 'name': 'English'}]",Released,No more secrets.,The Amazing Spider-Man 2,False,6.5,4274.0
32,False,"{'id': 8650, 'name': 'Transformers Collection'...",210000000,"[{'id': 878, 'name': 'Science Fiction'}, {'id'...",http://www.transformersmovie.com,91314,tt2109248,en,Transformers: Age of Extinction,"As humanity picks up the pieces, following the...",...,2014-06-25,1.091405e+09,165.0,"[{'iso_639_1': 'en', 'name': 'English'}]",Released,This is not war. It's extinction.,Transformers: Age of Extinction,False,5.8,3136.0
33,False,NaN,140000000,"[{'id': 12, 'name': 'Adventure'}, {'id': 18, '...",http://www.exodusgodsandkings.com/,147441,tt1528100,en,Exodus: Gods and Kings,The defiant leader Moses rises up against the ...,...,2014-12-03,2.680318e+08,150.0,"[{'iso_639_1': 'en', 'name': 'English'}]",Released,"Once brothers, now enemies.",Exodus: Gods and Kings,False,5.6,1957.0
34,False,"{'id': 121938, 'name': 'The Hobbit Collection'...",250000000,"[{'id': 28, 'name': 'Action'}, {'id': 12, 'nam...",http://www.thehobbit.com/,122917,tt2310332,en,The Hobbit: The Battle of the Five Armies,Immediately after the events of The Desolation...,...,2014-12-10,9.560198e+08,144.0,"[{'iso_639_1': 'en', 'name': 'English'}]",Released,Witness the defining chapter of the Middle-Ear...,The Hobbit: The Battle of the Five Armies,False,7.1,4884.0
35,False,"{'id': 86311, 'name': 'The Avengers Collection...",280000000,"[{'id': 28, 'name': 'Action'}, {'id': 12, 'nam...",http://marvel.com/movies/movie/193/avengers_ag...,99861,tt2395427,en,Avengers: Age of Ultron,When Tony Stark tries to jumpstart a dormant p...,...,2015-04-22,1.405404e+09,141.0,"[{'iso_639_1': 'en', 'name': 'English'}]",Released,A New Age Has Come.,Avengers: Age of Ultron,False,7.3,6908.0
36,False,"{'id': 131295, 'name': 'Captain America Collec...",250000000,"[{'id': 12, 'name': 'Adventure'}, {'id': 28, '...",http://marvel.com/captainamericapremiere,271110,tt3498820,en,Captain America: Civil War,"Following the events of Age of Ultron, the col...",...,2016-04-27,1.153304e+09,147.0,"[{'iso_639_1': 'ro', 'name': 'Română'}, {'iso_...",Released,Divided We Fall,Captain America: Civil War,False,7.1,7462.0
37,False,"{'id': 645, 'name': 'James Bond Collection', '...",245000000,"[{'id': 28, 'name': 'Action'}, {'id': 12, 'nam...",http://www.sonypictures.com/movies/spectre/,206647,tt2379713,en,Spectre,A cryptic message from Bond’s past sends him o...,...,2015-10-26,8.806746e+08,148.0,"[{'iso_639_1': 'fr', 'name': 'Français'}, {'is...",Released,A Plan No One Escapes,Spectre,False,6.3,4552.0
38,False,"{'id': 209131, 'name': 'Man of Steel Collectio...",250000000,"[{'id': 28, 'name': 'Action'}, {'id': 12, 'nam...",http://www.batmanvsupermandawnofjustice.com/,209112,tt2975590,en,Batman v Superman: Dawn of Justice,Fearing the actions of a god-like Super Hero l...,...,2016-03-23,8.732602e+08,151.0,"[{'iso_639_1': 'en', 'name': 'English'}]",Released,Justice or revenge,Batman v Superman: Dawn of Justice,False,5.7,7189.0
39,False,"{'id': 468552, 'name': 'Wonder Woman Collectio...",149000000,"[{'id': 28, 'name': 'Action'}, {'id': 12, 'nam...",http://www.warnerbros.com/wonder-woman,297762,tt0451279,en,Wonder Woman,An Amazon princess comes to the world of Man t...,...,2017-05-30,8.205804e+08,141.0,"[{'iso_639_1': 'de', 'name': 'Deutsch'}, {'iso...",Released,Power. Grace. Wisdom. Wonder.,Wonder Woman,False,7.2,5025.0
40,False,"{'id': 8650, 'name': 'Transformers Collection'...",260000000,"[{'id': 28, 'name': 'Action'}, {'id': 878, 'na...",http://www.transformersmovie.com/,335988,tt3371366,en,Transformers: The Last Knight,"Autobots and Decepticons are at war, with huma...",...,2017-06-21,6.049421e+08,149.0,"[{'iso_639_1': 'en', 'name': 'English'}]",Released,"For one world to live, the other must die.",Transformers: The Last Knight,False,6.2,1440.0